tr {
    position: relative;
}

.product:hover {
    padding: 10px 0px;
    background-color: #ECEEEE;
}

.productAddingCheckbox {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    border: 20px solid #6E7881;
}

.editing {
    position: absolute;
    right: 0;
}

.editing * {
    margin-left: 12px;
}

.closeButton {
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media only screen and (max-width: 750px) {
    .product {
        background-color: #B0D0FF;
    }

    .editing {
        position: static;
    }
}