.products {
    width: 77%;
    margin: 70px auto;
}

.addProduct {
    position: absolute;
    right: 12px;
    top: 10px;
    padding: 10px 20px;
}

.quantityOfSelectedProducts {
    position: relative;
    background-color: #D2E9FD;
    border-radius: 15px 15px 0px 0px;
    padding: 20px 10px;
}

.trashBin {
    position: absolute;
    right: 30px;
}

table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
    background-color: white;
}

thead {
    background-color: #F4F6F8;
}

tr {
    border-bottom: 1px solid black;
}

td,
th {
    padding: 15px;
}

@media only screen and (max-width: 1200px) {
    .products {
        width: 95% !important;
        position: relative;
        margin: 20px auto;
    }

    table {
        width: 100%;
    }

    .addProduct {
        position: static;
        margin: 70px 0px 20px 0px;
        font-size: 16px;
    }

    .quantityOfSelectedProducts {
        margin-bottom: 20px;
    }
}